.TopDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    width: 100%;
    margin: 1px auto;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.37);
         @media (max-width: 800px ) {
                
            }

.MainDiv {
    margin-top: 5px;
    margin-top: 5px;

.BabyDiv {
    width: 85%;
    margin: 10px auto;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    color: rgba(245, 245, 245, 0.753);
    transition: all 0.5s;
    &:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 6px 6px 20px #000000;
            }
            @media (max-width: 800px ) {
                width: 70%;
                font-size: 18px;
                border-radius: 0px;
                opacity: .7;
                color: whitesmoke;

            }
        }
    }
}

.aboutTitle {
    margin: 35px;
    margin-top: 70px;
    color: pink;
    text-align: center;
}