.TopDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    width: 100%;
    // margin: auto;
    // margin-top: 15px;
    // margin-bottom: 25px;
    // background-color: #9E829C;

.MainDiv {
    margin: 40px;

.BabyDiv {
    width: 100%;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 22px;
    color: white;
    text-align: center;
    background-color: #9E829C;
    color: #181415;
    border-radius:80px;
    box-shadow: 5px 5px 8px #000000;
    transition: all 0.5s;
    &:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 6px 6px 20px #000000;
            }
        }
    }
}