
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
   @media (max-width: 500px) {
              height: 70vh;
          }
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.855), rgba(48, 1, 53, 0.897)) , url('../Images/unicorn.png') center center scroll;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
   @media (max-width: 500px) {
                background-position: top center;
                // background-attachment: scroll;
              }
}




