.h1Main {
  color: #d4afb9;
  font-size: 55px;
  text-align: center;
  padding-top: 180px;
  margin: auto 0;
  @media (max-width: 768px) {
    font-size: 65px;
    padding-top: 80px;
  }
  @media (max-width: 500px) {
    font-size: 50px;
    padding-top: 85px;
  }
}

.h1Sub {
  color: #f6e8ea;
  font-size: 35px;
  margin: auto 0;
  padding-top: 20px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 27px;
  }
  @media (max-width: 500px) {
    font-size: 20px;
  }
}
