.contactTitle {
  color: #d4afb9;
  text-align: center;
  font-size: 55px;
  margin: 7rem;
  text-decoration: underline overline;
}

.TopDivC {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  width: 110%;
  margin-left: -27px;
  padding-bottom: 10px;
  border: 1px solid #d4afb9;
  transform: rotate(-4deg);
  @media (max-width: 768px) {
    transform: rotate(0deg);
  }
  &:hover {
    border: 1px solid black;
  }

  .MainDivC {
    .BabyDivC {
      width: 85%;
      margin: 20px auto;
      margin-left: 35px;
      padding: 20px;
      text-align: center;
      color: white;
      font-size: 30px;
      transform: rotate(4deg);
      @media (max-width: 768px) {
        transform: rotate(0deg);
      }
    }
  }
}
