.footer-icons {
  width: 55px;
  height: 55px;
  color: pink;
  padding: 15px;
  margin-top: 60px;
  @media (max-width: 600px ) {
              width: 45px;
              height: 45px;
              color: $tearose;
            }
  }

  .footerDiv {
    text-align: center;
    margin: 5px;
  }