.topDiv {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  width: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 5px 8px #000000;
  transition: all 0.5s;
      @media (max-width: 800px ) {
                border: none;
                box-shadow: none;
        }
}

.babyDiv {
  width: 100%;
  max-width: 30rem;
  margin: 20px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 5px 5px 8px #000000;
  transition: all 0.5s;
  &:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 6px 6px 20px #000000;
  }
         @media (max-width: 800px ) {
                width: 70%;
                font-size: 18px;
                border-radius: 0px;
                opacity: .9;
          }
}

.langTitle {
    margin: 10px auto;
    margin-top: 20px;
    color: pink;
    text-align: center;
}

