.projTitle {
  color: #d4afb9;
  text-align: center;
  font-size: 55px;
  margin: 7rem;
  text-decoration: underline overline;
}

.TopDiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  width: 110%;
  margin-left: -27px;
  padding-bottom: 10px;
  border: 1px solid #d4afb9;
  background-color: rgb(41, 40, 40);
  transform: rotate(-4deg);
  @media (max-width: 768px) {
    transform: rotate(0deg);
  }
  &:hover {
    border: 1px solid black;
  }

  .MainDiv1 {
    .BabyDiv1 {
      width: 85%;
      margin: 20px auto;
      margin-left: 35px;
      padding: 20px;
      font-size: 22px;
      text-align: left;
      color: white;
    }
  }
}

.BabyDiv1 p {
  font-size: 30px;
  transform: rotate(4deg);
  @media (max-width: 768px) {
    transform: rotate(0deg);
  }
}

.projectTitle {
  a {
    text-decoration: underline;
    color: white;
  }
  transform: rotate(4deg);
  @media (max-width: 768px) {
    transform: rotate(0deg);
  }
}

.TopDiv2 {
  display: flex;
  margin: 5rem;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  width: 110%;
  margin-left: -27px;
  padding-bottom: 10px;
  border: 1px solid #d4afb9;
  background-color: rgb(41, 40, 40);
  &:hover {
    border: 1px solid black;
  }
  transform: rotate(4deg);
  @media (max-width: 768px) {
    transform: rotate(0deg);
  }

  .MainDiv2 {
    .BabyDiv2 {
      width: 85%;
      margin: 20px auto;
      margin-left: 35px;
      padding: 20px;
      font-size: 22px;
      text-align: right;

      color: white;
      transition: all 0.5s;
    }
  }
}

.BabyDiv2 p {
  font-size: 30px;
  transform: rotate(-4deg);
  @media (max-width: 768px) {
    transform: rotate(0deg);
  }
}

.projectTitle2 {
  a {
    text-decoration: underline;
    color: white;
  }
  transform: rotate(-4deg);
  @media (max-width: 768px) {
    transform: rotate(0deg);
  }
}
