.TopDiv1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    opacity: .8;
    width: 107%;
    background-color: rgba(0, 0, 0, 0.37);
    margin-left: -45px;
    transform:rotate(4deg);
     @media (max-width: 1075px ) {
            flex-flow: column;
            width: 110%;
            transform:rotate(2deg);
               }
    @media (max-width: 600px ) {
            transform:rotate(2deg);
            margin-left: -25px;
               }
    
.MainDiv1 {
    width: 100%;
    max-width: 500px;
    margin: 30px;
    transition: all 0.5s;
    transform:rotate(-3deg);
    &:hover {
        transform: translateY(-1rem) scale(1.03);
        }
    @media (max-width: 500px ) {
            background-color:  rgba(0, 0, 0, 0.00);
            box-shadow: none;
        
        }

.BabyDiv1 {
    width: 100%;
    height: 300px;
    max-width: 500px;
    padding:  20px;
    margin: 10px auto;
    font-size: 18px;
    text-align: center;
    color: $lightgray;
    text-align: center;
    background-color: black;
    box-shadow: 5px 5px 8px #000000;
    transition: all 0.5s;
    &:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 6px 6px 20px #000000;
            }
            @media (max-width: 1075px ) {
                width: 90%;
                height: 100%;
            }
            
             @media (max-width: 600px ) {
                width: 80%;
                height: 100%;
                padding: 10px;
                font-size: 15px;
            }
        }
    }
}

.TopDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    width: 105%;
    margin-left: -20px;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: #181415;
    transform:rotate(-4deg);
  @media (max-width: 1075px) {
        width: 110%;
        margin-left: 5px;
        margin-left: -25px;
    }
    @media (max-width: 500px) {
        width: 110%;
       }
    

.MainDiv2 {
    margin: 40px;
    

.BabyDiv2 {
    width: 105%;
    margin-left: -30px;
    padding: 10px;
    line-height: 1.5;
    font-size: 22px;
    color: $lightgray;
    text-align: center;
    transform:rotate(3deg);
    // transition: all 0.5s;
    // &:hover {
    // transform: translateY(-1rem) scale(1.03);
    // box-shadow: 6px 6px 20px #000000;
    //         }
             @media (max-width: 500px ) {
                height: 100%;
                padding: 10px;
                font-size: 15px;
            }
        }
    }
}

.projTitle {
    margin: 55px;
    color: $tearose;
    text-align: center;
    font-size: 50px;
    text-decoration: underline overline;
     @media (max-width: 700px ) {
                font-size: 30px;
            }
}
