.App {
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

// .h1Main {
//   color: white;
//   font-size: 60px;
//   text-align: center;
//   padding-top: 150px;
//   margin: auto 0;
// }

.glow {
   color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 150px;
  margin: auto 0;
  // color: #fff;
  // text-align: center;
  // -webkit-animation: glow 1s ease-in-out infinite alternate;
  // -moz-animation: glow 1s ease-in-out infinite alternate;
  // animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
  }
  to {
    text-shadow:0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;
  }
}


.h1Sub {
  color: pink;
  font-size: 35px;
  margin: auto 0;
  padding-top: 20px;
  text-align: center;
}

body {
    // background-image:url('./Images/unicorn.png');
    background: linear-gradient(rgba(0, 0, 0, 0.781), rgba(59, 1, 65, 0.808)) , url('./Images/unicorn.png') center center;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    // background-size: 45px;
    // background-color: linear-gradient(to bottom, black 0%, #ff99cc 100%);
&:before {
   
    // Overlay background-color
    background: linear-gradient(to bottom right, #002f4b, #dc4225);
  }
}

.icon {
width: 75px;
height: 75px;
color: white;
}

.icon2 {
width: 75px;
height: 75px;
margin: 15px;
}

.footer-icons {
width: 25px;
height: 25px;
padding: 7px;
}

/* CIRCLE  */
:root {
  --size: 450px;
  --speed:10s;
}

.circle {
  width: var(--size);
  height: var(--size);
}

.circle__inner {
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 
    0 -10px 0 0 rgba(255,255 ,200,.6),
    -7.5px 5px 0 0 rgba(255,200 ,255,.6),
    7.5px 5px 0 0 rgba(200,255 ,255,.6);
  animation: rotate var(--speed) linear infinite;
}
.circle__inner:nth-child(2) {
  box-shadow: 
    7.5px -5px 0 0 rgba(255,255 ,255,.6),
    -7.5px -5px 0 0 rgba(255,255 ,255,.6),
    0 10px 0 0 rgba(255,255 ,255,.6);
  animation: rotate__other var(--speed) linear infinite;
}
@keyframes rotate {
  50% {
    transform: scale(1.1) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes rotate__other {
  50% {
    transform: scale(1.1) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-720deg);
  }
}

