.App {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.h1Main {
  color: white;
  text-align: center;
  padding-top: 170px;
}

body {
    background-image:url('./Images/unicorn.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 300px;
    background-color: #484445; 
    
}

.icon {
width: 75px;
height: 75px;
color: white;
}

.icon2 {
width: 75px;
height: 75px;
margin: 15px;
}

/* CIRCLE  */
:root {
  --size: 400px;
  --speed:10s;
}

.circle {
  width: var(--size);
  height: var(--size);
}

.circle__inner {
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 
    0 -10px 0 0 rgba(255,255 ,200,.6),
    -7.5px 5px 0 0 rgba(255,200 ,255,.6),
    7.5px 5px 0 0 rgba(200,255 ,255,.6);
  animation: rotate var(--speed) linear infinite;
}
.circle__inner:nth-child(2) {
  box-shadow: 
    7.5px -5px 0 0 rgba(255,255 ,255,.6),
    -7.5px -5px 0 0 rgba(255,255 ,255,.6),
    0 10px 0 0 rgba(255,255 ,255,.6);
  animation: rotate__other var(--speed) linear infinite;
}
@keyframes rotate {
  50% {
    transform: scale(1.1) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes rotate__other {
  50% {
    transform: scale(1.1) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-720deg);
  }
}


// About Me

.slide {
  
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}